*{
    margin: 0px;
    padding: 0px;
    background-color: darkseagreen;
    
}

.first h3{
    font-size: 25px;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 10px;
    font-family: monospace;
}
.para{
    font-size: 15px;
    text-align: center;
}

.second button{
    font-family: monospace;
    font-size: 15px;
}

.btnbtn a{
  padding: 6px 10px;
}


.btnbtn a:hover{
    background-color: cornflowerblue;
    color:black;
}

.second{
    text-align: center;
    padding-top: 10px;
    font-family: monospace;
}
